<!DOCTYPE html>
<html>

<head>
    <!---Coming soon page --Basic Needs 
    ===================================================== -->
    <meta charset="utf-8">
    <title>Welcome to Sandeep Kuri's Site</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!--- CSS
    ===================================================== -->
    <link rel="stylesheet" type="text/css" href="/public/css/comingsoonpage.css" />

    <!--- Script
    ====================================================== -->



</head>

<body>
    <!-- Header
   ================================================== -->
    <header id="home">


        <!-- end #nav-wrap -->

        <div class="row banner">
            <div class="banner-text">
                <h1 class="responsive-headline">Coming Soon</h1>
                <h3><span>The is offical Website About myself and a Blockchain blog site. the site in under constraction right now! will be up very soon </span></h3>

                <h2>Get in Touch</h2>

                <div>
                    <label for="contactEmail"><span class="required"></span></label>
                    <input type="text" placeholder="Enter Email" value="" size="35" id="contactEmail" name="contactEmail">
                    <button onclick="submit">Subscribe</button>
                </div>

                <ul class="social">
                    <li><a href="https://www.facebook.com/sandeepkuri002"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/sandeep-kuri"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="https://www.instagram.com/sandeep__kuri/"><i class="fa fa-instagram"></i></a></li>
                    <!--<li><a href="---"><i class="fa fa-skype"></i></a></li> -->
                </ul>
            </div>
        </div>


    </header>
    <div class="twelve columns">
        <ul class="copyright">
            <li>&copy; Copyright 2017 Sandeep Kuri</li>
            <!--    <li>Design by <a title="Styleshout" href="http://www.styleshout.com/">Styleshout</a></li> -->
        </ul>
    </div>
    <!---footer 
============================================= -->
    <footer>


    </footer>

    <!--- JavaScript
    ====================================================== -->
    <script src="/public/js/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/public/js/comingsoonjs.js"></script>



</body>
<script>
</script>

</html>
