<html>

<head>
    <!---Coming soon page --Basic Needs 
    ===================================================== -->
    <meta charset="utf-8">
    <title>Welcome to Sandeep Kuri's Site</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!--- CSS
    ===================================================== -->
    <link rel="stylesheet" type="text/css" href="/Sandeep_kuri_website/public/css/comingsoonpage.css" />

    <!--- Script
    ====================================================== -->



</head>

<body>
    <!-- Header
   ================================================== -->
    <header id="home">


        <!-- end #nav-wrap -->

        <div class="row banner">
            <div class="banner-text">
                <h1 class="responsive-headline">Coming Soon</h1>
                <h3><span>The is offical Website About myself and a Blockchain blog site. the site in under constraction right now! will be up very soon </span></h3>
                <hr />
                <ul class="social">
                    <li><a href="https://www.facebook.com/GgAMbBiTt"><i class="fa fa-facebook"></i></a></li>
                    <!-- <li><a href="#"><i class="fa fa-twitter"></i></a></li> -->
                    <!-- <li><a href="#"><i class="fa fa-google-plus"></i></a></li> -->
                    <li><a href="https://in.linkedin.com/in/durlabhsharma"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="https://www.instagram.com/hannibal_holmes/"><i class="fa fa-instagram"></i></a></li>
                    <!-- <li><a href="#"><i class="fa fa-dribbble"></i></a></li> -->
                    <li><a href="skype:sharma.durlabh?chat"><i class="fa fa-skype"></i></a></li>
                </ul>
            </div>
        </div>

        <p class="scrolldown">
            <a class="smoothscroll" href="#about"><i class="icon-down-circle"></i></a>
        </p>

    </header>
    <!-- Header End -->


    <!-- Contact Section
   ================================================== -->
    <section id="contact">

        <div class="row section-head">

            <div class="two columns header-col">

                <h1><span>Keep in touch.</span></h1>

            </div>


        </div>

        <div class="row">

            <div class="eight columns">

                <!-- form -->
                <form action="hello" method="post" id="contactForm" name="contactForm">
                    <fieldset>

                        <div>
                            <label for="contactName">Name <span class="required">*</span></label>
                            <input type="text" value="" size="35" id="contactName" name="contactName">
                        </div>

                        <div>
                            <label for="contactEmail">Email <span class="required">*</span></label>
                            <input type="text" value="" size="35" id="contactEmail" name="contactEmail">
                        </div>

                        <div>
                            <button class="submit">Subscribe</button>
                            <span id="image-loader">
                        <img alt="" src="images/loader.gif">
                     </span>
                        </div>

                    </fieldset>
                </form>
                <!-- Form End -->

                <!-- contact-warning -->
                <div id="message-warning"> Error boy</div>
                <!-- contact-success -->
                <div id="message-success">
                    <i class="fa fa-check"></i>Subscribed!<br>
                </div>

            </div>

        </div>

    </section>
    <!-- Contact Section End-->



    <!--- JavaScript
    ====================================================== -->
    <script src="/public/js/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/public/js/comingsoonjs.js"></script>



</body>
<script>
</script>

</html>