<!DOCTYPE html>
<html>

<head>
    <!---Coming soon page --Basic Needs
    ===================================================== -->
    <meta charset="utf-8">
    <title>Welcome | Sandeep Kuri</title>
    <meta name="description" content="blockchain blog site and about myself ">
    <meta name="author" content="Sandeep Kuri">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--- CSS
    ===================================================== -->
    <link rel="stylesheet" type="text/css" href="public/css/comingsoonpage.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!--- JavaScript
    ====================================================== -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/public/js/comingsoonjs.js"></script>




</head>

<body>
    <!-- Header
   ================================================== -->
    <header>
        <!-- end #nav-wrap -->
        <div class="container">
            <div class="comming-soon">
                <h1 class="responsive-headline">Coming Soon</h1>
                <h3><span>The is offical Website About myself and a Blockchain blog site. the site in under constraction right now! will be up very soon</span></h3>
            </div>
        </div>
    </header>

    <section id="newletter">
        <div class="container">
            <h2>Get in Touch</h2>
            <div>
                <label for="contactEmail"><span class="required"></span></label>
                <input id="useremail" type="email" placeholder="Enter Email" size="35">
                <button id="id_submit" onClick="submit()">Subscribe</button>
            </div>

            <!-- contact-warning -->
            <div id="message-warning"> Error boy</div>
            <!-- contact-success -->
            <div id="message-success">
                <i class="fa fa-check"></i>Your message was sent, thank you!<br>
            </div>

        </div>
    </section>

    <section class="social">
        <div class="cont ainer">
            <ul class="social-link">
                <li><a href="https://www.facebook.com/sandeepkuri002"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://www.linkedin.com/in/sandeep-kuri"><i class="fa fa-linkedin"></i></a></li>

                <!--<li><a href="---"><i class="fa fa-skype"></i></a></li> -->
            </ul>
        </div>
    </section>

    <!---footer
============================================= -->

    <footer>
        <p>&copy; Copyright 2017 Sandeep Kuri</p>
    </footer>


</body>


</html>